DEV_NEWS_API_KEY=
DEV_APP_API_KEY=

PRODUCTION_APP_API_KEY=
PRODUCTION_NEWS_API_KEY=

DEV_MONGO_URI=
PRODUCTION_MONGO_URI=

JWT_TOKEN_EXPIRE=900000
JWT_TOKEN_GRACE_PERIOD=10800000
DEV_JSON_SECRET=
PRODUCTION_JSON_SECRET=

HEADLINES_PAGE_SIZE=40
FEED_PAGE_SIZE=20
